<div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="https://image.tmdb.org/t/p/w500/{{movie.img_path}}" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{movie.title}}</h5>
          <p class="card-text">{{movie.description}}</p>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">{{movie.date}}</li>
            <li class="list-group-item">{{movie.rating}}</li>
            <li class="list-group-item">{{movie.language}}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
